/* REMOVE max-width & center alignment */
#root {
  padding: 2rem;
}

/* App wrapper */
.app {
  width: 100%;
}

/* USERS heading */
.app h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* CARDS GO LEFT → RIGHT */
.users-container {
  display: flex;
  flex-direction: row;
  /* horizontal */
  gap: 20px;
  /* align-items: flex-start; */

  width: 100%;
  overflow-x: auto;
  /* scroll if many cards */
}