body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 45px;
  font-size: 18px;
  cursor: pointer;
}

.equal {
  grid-column: span 4;
  background: #4caf50;
  color: white;
}